@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

body {
  font-family: "Mukta", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: 0 auto;
}
header {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  color: antiquewhite;
  font-weight: 500;
  -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
}

.switch-grid-btn {
  display: none;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* GRID AND IMAGES */

.image-container {
  width: 100%;
  max-width: 768px;
  /* outline: 1px solid rgb(194, 194, 194); */
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.single-image-wrapper {
  background-color: whitesmoke;
  flex: 1 0 100%;
  max-width: 100%;
  padding-top: 76%;
  position: relative;
}

.single-image {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -webkit-box-shadow: 4px 4px 5px -2px rgba(85, 85, 85, 0.45);
  -moz-box-shadow: 4px 4px 5px -2px rgba(85, 85, 85, 0.45);
  box-shadow: 4px 4px 5px -2px rgba(85, 85, 85, 0.45);
  border-radius: 10px;
  overflow: hidden;
}

.single-image .img-figure {
  width: 100%;
  height: 100%;
}

.single-image .img-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.single-image .img-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(247, 247, 247, 0.89);
  padding: 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.profile-extra {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}
.profile-extra__portfolio a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}
.profile-extra__portfolio a:hover {
  color: #0c7433;
}

.profile-extra .profile-extra__social {
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-extra .profile-extra__social a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.profile-extra .profile-extra__social a:hover {
  color: #0c7433;
}

.single-image .img-footer:hover .profile-extra {
  max-height: 500px;
}

.img-footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px;
}

.footer-wrapper .profile img {
  border-radius: 50%;
}

.image-container.grid-column .footer-wrapper .profile .username {
  width: unset;
}

.footer-wrapper .info .photo-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 5px;
}
.footer-wrapper .info .photo-link:active,
.footer-wrapper .info .photo-link:hover {
  color: #38ef7d;
}
.footer-wrapper .info .fa-thumbs-down {
  color: rgba(200, 9, 9, 0.938);
  margin-right: 8px;
}
.footer-wrapper .info .fa-thumbs-up {
  color: #0c7433;
}

.mt-80px {
  margin-top: 80px;
}

hr {
  opacity: 0.75;
  margin: 5px 0;
}
.modal {
  display: none;
}

.modal.show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  z-index: 99;
}

.modal-body {
  background-color: #ffffff;
  padding: 50px;
  width: 90%;
  height: 95%;
  margin: auto;
  position: relative;
}

.modal-body .strelica {
  position: absolute;
  font-size: 30px;
}

.modal-body .leva {
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  cursor: pointer;
}

.modal-body .desna {
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  cursor: pointer;
}
.modal-body .close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
}

.modal-body .modal-img-container {
  width: 100%;
  height: 100%;
}

.modal-body img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .switch-grid-btn {
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    display: block;
  }

  .switch-grid-btn .grid-1 {
    display: none;
  }

  .switch-grid-btn .grid-2 {
    display: inline-block;
  }

  .switch-grid-btn.grid-column .grid-1 {
    display: inline-block;
  }

  .switch-grid-btn.grid-column .grid-2 {
    display: none;
  }

  .single-image-wrapper {
    padding-top: 50%;
  }

  .image-container {
    width: 100%;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .image-container.grid-column {
    flex-direction: column;
  }

  .single-image-wrapper {
    background-color: whitesmoke;
    flex: 1 0 50%;
    max-width: 50%;
    padding-top: 67%;
    position: relative;
  }

  .image-container.grid-column .single-image-wrapper {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
